<a href="https://colab.research.google.com/github/HimanshuSahoo/Python-for-Data-Scientist/blob/main/Pandas_explore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [2]:
import pandas as pd
data =[1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
import pandas as pd
data = [['Amit',10],['Himanshu',12],['Rounak',15]]
df = pd.DataFrame(data,columns = ['Name','Age'])
print(df)

       Name  Age
0      Amit   10
1  Himanshu   12
2    Rounak   15

In [4]:
import pandas as pd
data = [['Amit',10],['Himanshu',12],['Rounak',15]]
df = pd.DataFrame(data,columns = ['Name','Age'],dtype=float)
print(df)

       Name   Age
0      Amit  10.0
1  Himanshu  12.0
2    Rounak  15.0

In [5]:
import pandas as pd
data = {'Name':['Vivek','Sankalp','Pallav','Zahid'],'Age':[28,34,39,42]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0    Vivek   28
1  Sankalp   34
2   Pallav   39
3    Zahid   42

In [6]:
import pandas as pd
data = {'Name':['Vivek','Sankalp','Pallav','Zahid'],'Age':[28,34,39,42]}
df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

          Name  Age
rank1    Vivek   28
rank2  Sankalp   34
rank3   Pallav   39
rank4    Zahid   42

In [7]:
import pandas as pd
data = [{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [8]:
import pandas as pd
data = [{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df = pd.DataFrame(data,index = ['first','second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [9]:
import pandas as pd
data = [{'a':1,'b':2},{'a':5,'b':10,'c':20}]

df1 = pd.DataFrame(data,index = ['first','second'],columns=['a','b'])

df2 = pd.DataFrame(data,index = ['first','second'],columns=['a','b1'])

print(df1)
print(df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN