<a href="https://colab.research.google.com/github/HimanshuSahoo/Python-for-Data-Scientist/blob/main/Scaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## scaling: It is a mechanism by which we can compare two dissimilar values

In [ ]:
import pandas as pd

from sklearn import linear_model

from sklearn.preprocessing import StandardScaler

scale = StandardScaler()

df=pd.read_csv("C:/Users/himan/OneDrive/Documents/Himanshu_DS/Geethika Mam_DS/Chapter wise Data Set and python code/Multi Linear Regression/cars.csv")


x = df[['WT','VOL']]

scaledx = scale.fit_transform(x)

print(scaledx)

[[-0.49023816 -0.44061061]
 [-0.26129934 -0.30525236]
 [-0.29799301 -0.30525236]
 [-0.2391033  -0.30525236]
 [-0.33887816 -0.30525236]
 [-0.37881419 -0.44061061]
 [-0.28256505 -0.30525236]
 [-2.22453536 -2.20026792]
 [-2.15581433 -2.20026792]
 [-0.20042158 -0.21501352]
 [-0.40949027 -0.44061061]
 [-2.23718888 -2.20026792]
 [ 0.05385348  0.01058357]
 [-0.40746314 -0.44061061]
 [-0.41164734 -0.44061061]
 [-0.37710085 -0.44061061]
 [-0.38633253 -0.35037178]
 [-2.17802125 -2.20026792]
 [-0.33347355 -0.35037178]
 [ 0.14831256  0.19106124]
 [-0.01180799  0.01058357]
 [ 0.33514564  0.37153891]
 [ 0.03535268  0.1008224 ]
 [-0.07727938 -0.12477469]
 [-0.48759676 -0.44061061]
 [-2.19829229 -2.20026792]
 [ 0.75878723  0.82273309]
 [ 0.05673768  0.01058357]
 [ 0.27807071  0.23618066]
 [ 0.42124726  0.37153891]
 [ 0.62174504  0.68737484]
 [ 0.11035971  0.1008224 ]
 [-0.13866213 -0.07965527]
 [ 0.69304639  0.64225542]
 [ 0.03881962  0.1008224 ]
 [-0.06732815 -0.03453585]
 [-0.49132041 -0.48573003]
 [-0.60870364 -0.57596887]
 [-0.50790524 -0.57596887]
 [-0.30848967 -0.30525236]
 [ 0.66877093  0.64225542]
 [ 0.35112169  0.32641949]
 [-0.253162   -0.30525236]
 [-0.54638368 -0.48573003]
 [ 0.08944633  0.14594182]
 [ 0.02811271  0.01058357]
 [ 0.54872568  0.55201658]
 [ 0.20110061  0.19106124]
 [-0.58309656 -0.57596887]
 [ 0.14045608  0.1008224 ]
 [ 0.10761914  0.1008224 ]
 [ 0.13753382  0.1008224 ]
 [ 1.07240653  1.13856902]
 [ 0.69941256  0.64225542]
 [ 0.65022074  0.64225542]
 [ 1.09804367  1.13856902]
 [-0.30417763 -0.30525236]
 [ 0.04323438  0.1008224 ]
 [-0.24136353 -0.21501352]
 [ 0.70507688  0.73249426]
 [ 0.60103751  0.55201658]
 [ 0.73160477  0.77761368]
 [ 1.47432127  1.45440495]
 [ 1.11600704  1.0934496 ]
 [ 1.0403533   1.00321077]
 [-2.24265139 -2.20026792]
 [ 0.74765875  0.68737484]
 [ 1.23030947  1.27392727]
 [ 1.08232792  1.0934496 ]
 [ 0.63509149  0.597136  ]
 [-2.22785207 -2.20026792]
 [ 1.55787152  1.63488262]
 [ 1.4692362   1.49952437]
 [ 2.76444017  2.76286807]
 [ 1.3706083   1.36416611]
 [ 1.39203071  1.36416611]
 [-2.18623649 -2.20026792]
 [ 0.74002517  0.73249426]
 [-2.23502801 -2.20026792]
 [ 0.94146241  0.91297193]
 [ 0.34057153  0.37153891]]

In [ ]:
df

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [ ]:
import pandas as pd

from sklearn import linear_model
from sklearn.preprocessing import StandardScaler

scale = StandardScaler

df=pd.read_csv("C:/Users/himan/OneDrive/Documents/Himanshu_DS/Geethika Mam_DS/Chapter wise Data Set and python code/Multi Linear Regression/cars.csv")

X = df[['WT','VOL']]

y = df['MPG']

scaledX = scale.fit_transform(X)

regr = liner_model.LinearRegression()

regr.fit(scaledX,y)

scaled = scale.transform([[40,120]])

predictedMPG = regr.predict([scale[0]])

print(predictedMPG)

TypeError: fit_transform() missing 1 required positional argument: 'X'