<a href="https://colab.research.google.com/github/HimanshuSahoo/Python-for-Data-Scientist/blob/main/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create a Series Object

In [1]:
import pandas as pd

In [2]:
fruits = ['apples','oranges','kiwi','mangoes']

In [3]:
pd.Series(fruits)

0     apples
1    oranges
2       kiwi
3    mangoes
dtype: object

In [4]:
fruits = ['apples','oranges','kiwi','mangoes','plums']
weekdays = ['Monday','Tueday','Wednesday','Thursday','Friday']
pd.Series(data=fruits, index=weekdays)

Monday        apples
Tueday       oranges
Wednesday       kiwi
Thursday     mangoes
Friday         plums
dtype: object

In [5]:
german_dict = {'Cat':'Katze',
              'Dog':'Hund',
              'Horse':'Pferd',
              'Snake':'Schlange',
              'Queue':'Schlange'}
gseries = pd.Series(german_dict)
gseries

Cat         Katze
Dog          Hund
Horse       Pferd
Snake    Schlange
Queue    Schlange
dtype: object

# Import the data from .csv file

In [6]:
univ = pd.read_csv('Universities.csv', usecols = ['Univ'], squeeze=True)
type(univ)

pandas.core.series.Series

In [7]:
univ

0            Brown
1          CalTech
2              CMU
3         Columbia
4          Cornell
5        Dartmouth
6             Duke
7       Georgetown
8          Harvard
9     JohnsHopkins
10             MIT
11    Northwestern
12       NotreDame
13       PennState
14       Princeton
15          Purdue
16        Stanford
17        TexasA&M
18      UCBerkeley
19        UChicago
20       UMichigan
21           UPenn
22             UVA
23      UWisconsin
24            Yale
Name: Univ, dtype: object

In [8]:
univ2 = pd.read_csv('Universities2.csv',  sep = ';')
univ2

            Univ   SAT  Top10  Accept  SFRatio  Expenses  GradRate
0          Brown  1310     89      22       13     22704        94
1        CalTech  1415    100      25        6     63575        81
2            CMU  1260     62      59        9     25026        72
3       Columbia  1310     76      24       12     31510        88
4        Cornell  1280     83      33       13     21864        90
5      Dartmouth  1340     89      23       10     32162        95
6           Duke  1315     90      30       12     31585        95
7     Georgetown  1255     74      24       12     20126        92
8        Harvard  1400     91      14       11     39525        97
9   JohnsHopkins  1305     75      44        7     58691        87
10           MIT  1380     94      30       10     34870        91
11  Northwestern  1260     85      39       11     28052        89
12     NotreDame  1255     81      42       13     15122        94
13     PennState  1081     38      54       18     10185        80
14     Princeton  1375     91      14        8     30220        95
15        Purdue  1005     28      90       19      9066        69
16      Stanford  1360     90      20       12     36450        93
17      TexasA&M  1075     49      67       25      8704        67
18    UCBerkeley  1240     95      40       17     15140        78
19      UChicago  1290     75      50       13     38380        87
20     UMichigan  1180     65      68       16     15470        85
21         UPenn  1285     80      36       11     27553        90
22           UVA  1225     77      44       14     13349        92
23    UWisconsin  1085     40      69       15     11857        71
24          Yale  1375     95      19       11     43514        96

### csv without header

In [9]:
univ1 = pd.read_csv('Universities1.csv', usecols = [0], header=None)
univ1

               0
0           Univ
1          Brown
2        CalTech
3            CMU
4       Columbia
5        Cornell
6      Dartmouth
7           Duke
8     Georgetown
9        Harvard
10  JohnsHopkins
11           MIT
12  Northwestern
13     NotreDame
14     PennState
15     Princeton
16        Purdue
17      Stanford
18      TexasA&M
19    UCBerkeley
20      UChicago
21     UMichigan
22         UPenn
23           UVA
24    UWisconsin
25          Yale

## Convert to list or dictionary

In [10]:
list(univ)

['Brown',
 'CalTech',
 'CMU',
 'Columbia',
 'Cornell',
 'Dartmouth',
 'Duke',
 'Georgetown',
 'Harvard',
 'JohnsHopkins',
 'MIT',
 'Northwestern',
 'NotreDame',
 'PennState',
 'Princeton',
 'Purdue',
 'Stanford',
 'TexasA&M',
 'UCBerkeley',
 'UChicago',
 'UMichigan',
 'UPenn',
 'UVA',
 'UWisconsin',
 'Yale']

In [11]:
dict(univ)

{0: 'Brown',
 1: 'CalTech',
 2: 'CMU',
 3: 'Columbia',
 4: 'Cornell',
 5: 'Dartmouth',
 6: 'Duke',
 7: 'Georgetown',
 8: 'Harvard',
 9: 'JohnsHopkins',
 10: 'MIT',
 11: 'Northwestern',
 12: 'NotreDame',
 13: 'PennState',
 14: 'Princeton',
 15: 'Purdue',
 16: 'Stanford',
 17: 'TexasA&M',
 18: 'UCBerkeley',
 19: 'UChicago',
 20: 'UMichigan',
 21: 'UPenn',
 22: 'UVA',
 23: 'UWisconsin',
 24: 'Yale'}

## Attributes of Series

In [12]:
gseries

Cat         Katze
Dog          Hund
Horse       Pferd
Snake    Schlange
Queue    Schlange
dtype: object

In [13]:
gseries.values

array(['Katze', 'Hund', 'Pferd', 'Schlange', 'Schlange'], dtype=object)

In [14]:
gseries.index

Index(['Cat', 'Dog', 'Horse', 'Snake', 'Queue'], dtype='object')

In [15]:
gseries.dtype

dtype('O')

In [16]:
num_series = pd.Series([1,2,3,4])
num_series

0    1
1    2
2    3
3    4
dtype: int64

In [17]:
gseries.is_unique

False

In [18]:
num_series.is_unique

True

In [19]:
gseries.size

5

### head(), tail() methods

In [20]:
univ.head(10)

0           Brown
1         CalTech
2             CMU
3        Columbia
4         Cornell
5       Dartmouth
6            Duke
7      Georgetown
8         Harvard
9    JohnsHopkins
Name: Univ, dtype: object

In [21]:
univ.tail(3)

22           UVA
23    UWisconsin
24          Yale
Name: Univ, dtype: object

## Sort

In [22]:
sorted_idx = gseries.sort_index()
sorted_idx

Cat         Katze
Dog          Hund
Horse       Pferd
Queue    Schlange
Snake    Schlange
dtype: object

In [23]:
gseries.sort_values(ascending = False)

Queue    Schlange
Snake    Schlange
Horse       Pferd
Cat         Katze
Dog          Hund
dtype: object

In [24]:
gseries

Cat         Katze
Dog          Hund
Horse       Pferd
Snake    Schlange
Queue    Schlange
dtype: object

In [25]:
gseries.sort_values(ascending = False, inplace=True)

In [26]:
gseries

Queue    Schlange
Snake    Schlange
Horse       Pferd
Cat         Katze
Dog          Hund
dtype: object

### Membership test

In [27]:
'Cat' in gseries.index, 'Cat' in gseries.values

(True, False)

## Accessing elements

In [28]:
univ

0            Brown
1          CalTech
2              CMU
3         Columbia
4          Cornell
5        Dartmouth
6             Duke
7       Georgetown
8          Harvard
9     JohnsHopkins
10             MIT
11    Northwestern
12       NotreDame
13       PennState
14       Princeton
15          Purdue
16        Stanford
17        TexasA&M
18      UCBerkeley
19        UChicago
20       UMichigan
21           UPenn
22             UVA
23      UWisconsin
24            Yale
Name: Univ, dtype: object

In [29]:
univ[1]

'CalTech'

In [30]:
univ[[1,17,21]]

1      CalTech
17    TexasA&M
21       UPenn
Name: Univ, dtype: object

In [31]:
univ[3:6]

3     Columbia
4      Cornell
5    Dartmouth
Name: Univ, dtype: object

In [32]:
univ[:6]

0        Brown
1      CalTech
2          CMU
3     Columbia
4      Cornell
5    Dartmouth
Name: Univ, dtype: object

In [33]:
univ[7:]

7       Georgetown
8          Harvard
9     JohnsHopkins
10             MIT
11    Northwestern
12       NotreDame
13       PennState
14       Princeton
15          Purdue
16        Stanford
17        TexasA&M
18      UCBerkeley
19        UChicago
20       UMichigan
21           UPenn
22             UVA
23      UWisconsin
24            Yale
Name: Univ, dtype: object

In [34]:
gseries['Horse']

'Pferd'

### using get()

In [35]:
gseries.get(key=['Cat','Dog'])

Cat    Katze
Dog     Hund
dtype: object

In [36]:
gseries.get(key='Elephant', default='Not Found')

'Not Found'

In [37]:
gseries.get(key='Snake', default='Not Found')

'Schlange'

## Some numeric  methods

In [38]:
google = pd.read_csv('google_stock_price.csv', squeeze=True)
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [39]:
google.count()

3012

In [40]:
num_series.sum()

10

In [41]:
num_series.mean(), google.mean()

(2.5, 334.31009296148744)

In [42]:
google.std()

173.18720477113106

In [43]:
# mx and min values
google.min() , google.max()

(49.95, 782.22)

In [44]:
# Position of max and min values
google.idxmin() , google.idxmax()

(11, 3011)

In [45]:
google[[11,3011]]

11       49.95
3011    782.22
Name: Stock Price, dtype: float64

In [46]:
poke = pd.read_csv('pokemon.csv', index_col = 'Pokemon' , squeeze=True)
poke.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [47]:
type(poke)

pandas.core.series.Series

In [48]:
poke.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [49]:
poke.count()

721