<a href="https://colab.research.google.com/github/HimanshuSahoo/Python-for-Data-Scientist/blob/main/String_Match_AWS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import base64
import boto3
import gzip
import json
import logging
import os

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df=pd.read_csv('Logfile.csv',encoding='latin1')

In [ ]:
df

                                          Error_name
0              [ERROR]-Worker is ungracefully killed
1  runtime execution error: unable to start lambd...
2                         [ERROR]-Deployment failed.
3  [ERROR]-runtime failed to start: unable to sta...
4  [2021-09-10T06:07:27.463-04:00][ERROR]-warning...
5  [2021-09-10T06:07:58.331-04:00][ERROR]-warning...

In [ ]:
header_names=['Error_Name']
df=pd.read_csv('Logfile.csv',encoding='latin1')

In [ ]:
df

                                          Error_name
0              [ERROR]-Worker is ungracefully killed
1  runtime execution error: unable to start lambd...
2                         [ERROR]-Deployment failed.
3  [ERROR]-runtime failed to start: unable to sta...
4  [2021-09-10T06:07:27.463-04:00][ERROR]-warning...
5  [2021-09-10T06:07:58.331-04:00][ERROR]-warning...

In [ ]:
df['Error_Type'] = np.NaN

In [ ]:
df

                                          Error_name  Error_Type
0              [ERROR]-Worker is ungracefully killed         NaN
1  runtime execution error: unable to start lambd...         NaN
2                         [ERROR]-Deployment failed.         NaN
3  [ERROR]-runtime failed to start: unable to sta...         NaN
4  [2021-09-10T06:07:27.463-04:00][ERROR]-warning...         NaN
5  [2021-09-10T06:07:58.331-04:00][ERROR]-warning...         NaN

In [ ]:
df['Error_Type'] = pd.np.where(df.Error_name.str.contains("Deployment"), "Deployment Error",
                               pd.np.where(df.Error_name.str.contains("runtime"), "Runtime Error",
                               pd.np.where(df.Error_name.str.contains("ungracefully"), "Platform Error","Proc Error")))

In [ ]:
df

                                          Error_name        Error_Type
0              [ERROR]-Worker is ungracefully killed    Platform Error
1  runtime execution error: unable to start lambd...     Runtime Error
2                         [ERROR]-Deployment failed.  Deployment Error
3  [ERROR]-runtime failed to start: unable to sta...     Runtime Error
4  [2021-09-10T06:07:27.463-04:00][ERROR]-warning...        Proc Error
5  [2021-09-10T06:07:58.331-04:00][ERROR]-warning...        Proc Error